table {
    width: 100%;
    border-collapse: collapse;
}
td,th{
    border: 1px solid black;
    padding: 9px;
    text-align: left;
}
th {
    cursor: pointer;
}
.highlight-green {
    background-color: green;
    color: white;
}
.highlight-red {
    background-color: red;
    color: white;
}